/******************************************************************
Author: DD9
Stylesheet: WP author box
******************************************************************/

/* Author Box
================================================== */

#author-card {
	margin-top: $spacer;
}

.author-img {
  float: left;
  margin-right: $spacer;
	margin-bottom: $spacer;
}


.author-description {
	> *:last-child {
		margin-bottom: 0;
	}
}
