/******************************************************************
Author: DD9
Stylesheet: Body
******************************************************************/


body {
  &.admin-bar .navbar-fixed-top { // THIS FIXES THE TOP NAV WHEN ADMIN BAR IS ENABLED
  	top: 46px;
  	@include media-breakpoint-up(md) {
    	top: 32px;
 		}
 	}
}