/******************************************************************
Author: DD9
Stylesheet: Utilities
******************************************************************/

* {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}

/* Images
================================================== */
img {
  max-width: 100%;
  height: auto;
}

iframe {
  max-width: 100%;
  width: 100%;
}

/* Random helpful classes */
.relative {
  position:relative;
}

.last-child-no-bm {
  > *:last-child {
    margin-bottom: 0;
  }
}

/* Class to make light text 
// (for use on dark background)
================================================== */
.text-white {
  color: #fff;
  
  h1, .h1, h2, .h2, h3, .h3, h4, .h4, 
  h5, .h5, h6, .h6, h6.subtitle, a:not(.btn), .btn-link, 
  .lead, blockquote, blockquote footer, blockquote small, blockquote .small,
  .pullquote-content, .pullquote-cite, .byline, .entry-meta {
    color: #fff;
  }

  .pullquote::before {
    color: rgba(255, 255, 255, 0.3);
  }

  a:not(.btn):hover {
    text-decoration: underline;
  }

  hr {
    border-top-color: rgba($white, .5);
  }

  .divider-bar {
    background-color: rgba($white, .5);
  }
}