/******************************************************************
Author: DD9
Stylesheet: Card Overrides and Extra Styles
******************************************************************/


.card {
	blockquote, .lead {
		color: inherit;
		border: none;
	}
}

.card-body {
 
}

.card-text {
 
}

.card-img {
	
}