/******************************************************************
Author: DD9
Stylesheet: Card Overrides and Extra Styles
******************************************************************/


.card {
	@include transition(all .2s ease);
}

.card-body {
  padding: 1.6rem;
  > *:last-child {
    margin-bottom: 0;
  }
}

.card-text {
  font-size: $font-size-sm;
  margin-bottom: ($paragraph-margin-bottom / 2);

  > *:last-child {
  	margin-bottom: 0;
  }
}

.card-img {
	border-radius: 0;
	@include transition(all .2s ease);
}

.card-img.bg-img {
	height: 150px;
}

.card-body {
	@include transition(all .2s ease);
}

/* Card Decks 
================================================== */
.card-deck.card-deck-ones,
.card-deck.card-deck-twos,
.card-deck.card-deck-threes,
.card-deck.card-deck-fours {
	@extend .list-unstyled;
	margin-bottom: 0;
  .card {
  	margin-bottom: $grid-gutter-width !important;

  	//Handle the breakpoint-XL overrides for individual cards later
  	@include media-breakpoint-up(md) {
	  	flex: 0 0 45.7%;
	  }
	  @include media-breakpoint-up(lg) {
	  	flex: 0 0 46.7%;
	  }
  }
}

/* Cards - Full
================================================== */
.card-deck.card-deck-ones {
	.card {
  	flex: 0 0 96.3%;

  	@include media-breakpoint-up(md) {
	  	flex: 0 0 96.3%;
	  }
	  @include media-breakpoint-up(lg) {
	  	flex: 0 0 96.3%;
	  }
  }
}

/* Cards - Halves
================================================== */
.card-deck.card-deck-twos {
	.card {
    flex: 0 0 96.3%;

    @include media-breakpoint-up(xl) {
    	flex: 0 0 47.2%;
    }
  }
}

/* Cards - Thirds
================================================== */
.card-deck.card-deck-threes {
	.card {
    flex: 0 0 96.3%;

    @include media-breakpoint-up(xl) {
    	flex: 0 0 30.6%;
    }
  }
}

/* Cards - Fourths
================================================== */
.card-deck.card-deck-fours {
	.card {
    flex: 0 0 96.3%;

    @include media-breakpoint-up(xl) {
    	flex: 0 0 22.35%;
    }
  }	
}