/******************************************************************
Author: DD9
Stylesheet: Footer
******************************************************************/

#footer {
  background-color: $gray-200;
  clear: both;
  padding: ($spacer * 3) 0 0;

  //Hide site credit
  .site-credit, .site-credit:hover {
    opacity: 0;
    cursor: default;
  }
  .site-credit {
    width: 1px;
    overflow: hidden;
    display: inline-block;
    height: 1px;
  }
}

#sub-floor {
  font-size: 70%;
  padding: 20px 0;
}

.footer-contact {
  @extend .list-unstyled;
}

/* Footer Menu
================================================== */
#menu-footer {
  @extend .list-unstyled;
  position: relative;
  margin: 0;
 
  > li {
    display: inline;
  }
}