/******************************************************************
Author: DD9
Stylesheet: Header & Navigation
******************************************************************/

/* Main Header and Nav: Bootstrap overrides
================================================== */
#site-header {
	.navbar {
		border: none;
		margin-bottom: 0;
    @include media-breakpoint-up(lg) {
      padding-left: 0;
      padding-right: 0
    }
	}
	.navbar-brand{
		padding-top: 5px;
		padding-bottom: 5px;
		width: 95px;
    @include media-breakpoint-up(md) {
      width: 150px;
    }

    &:hover {
      opacity: 0.8;
    }
	}
}

.navbar-light, .navbar-dark {
  .navbar-toggler {
    background-color: $secondary;
    padding: 0.4rem .4rem;
    font-size: 1.2rem;
  }

  .navbar-toggler-icon {
    width: 1.2em;
    height: 1.2em;
  }
}

/* Dropdown menus
================================================== */
.navbar-light #menu-primary .dropdown-menu,
.navbar-dark #menu-primary .dropdown-menu,
.dropdown-menu,
.text-white .dropdown-menu {
  font-size: 16px;
  line-height: 1.2;
  @include transition(all .2s ease);
  > li {
    margin-bottom: 10px;
    font-weight: 600;
  }

  > li:last-child {
    margin-bottom: 0;
  }

  > li > a {
    color: $body-color;
    white-space: normal;
    display: block;
    padding: 0 .65rem;
  
    @media (min-width: 1500px) {
      padding-right: 1rem;
      padding-left: 1rem;
    }

    &:hover {
      background-color: transparent;
      color: $blue;
      text-decoration: none;
    }

    > li > .dropdown-menu {
      border-radius: 0;
      border: none;
      box-shadow: none;
      display: block;
      left: auto;
      margin: 0 0 10px 10px;
      padding: 0;
      position: relative;
      top: auto;
      width: auto;
    }

    > li:last-of-type > .dropdown-menu {
      margin-bottom: 0;
    }

    // Active State
    > .active > a, 
    > .active > a:hover, 
    > .active > a:focus {
      background-color: transparent;
      color: $primary;
    }
  }
}

/* Primary Menu
================================================== */
#menu-primary {
	margin-top: 10px;

  @include media-breakpoint-up(lg) {
    margin-top: 0;
  }

  > li > a {
    font-size: $font-size-sm;
    font-weight: $font-weight-bold;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    @include media-breakpoint-up(lg) {
      position: relative;
    }
    @include media-breakpoint-up(xl) {
      padding-right: .55rem;
      padding-left: .55rem;
    }
  } 

  > li:last-child {
    > .dropdown-menu {
      @extend .dropdown-menu-right;
    }
  }

  .dropdown-toggle::after {
    display: none;
  }

  .dropdown .caret::after {
    @extend .fa;
    display: inline-block;
    width: auto;
    height: auto;
    letter-spacing: normal;
    margin-left: 0;
    content: "\f107";
    border: none;
  }
}


/* Current page highlighting 
================================================== */
#menu-primary {
  > li.current-menu-item,
  > li.current-menu-parent,
  > li.current-menu-ancestor,
  > li.current_page_parent {
  	
  	> a {
      color: $secondary;
    }

  }  
  > li.dropdown.open > a:hover {
    color: $secondary;
  }

  .dropdown-menu {
    > li.current-menu-item {
      > a {
        color: $secondary;
      }
    }
  }
}