/******************************************************************
Author: DD9
Stylesheet: Header & Navigation
******************************************************************/

/* Main Header and Nav: Bootstrap overrides
================================================== */
#site-header {
	.navbar {
		border: none;
		margin-bottom: 0;
    @include media-breakpoint-up(lg) {
      padding-left: 0;
      padding-right: 0
    }
	}
	.navbar-brand{
		padding-top: 5px;
		padding-bottom: 5px;
		width: 95px;
    @include media-breakpoint-up(md) {
      width: 150px;
    }

    &:hover {
      opacity: 0.8;
    }
	}
}

.navbar-light, .navbar-dark {
  .navbar-toggler {
    background-color: $secondary;
  }
}

/* Dropdown menus
================================================== */
// Fix non-wrapping menu items
.navbar-light #menu-primary .dropdown-menu,
.navbar-dark #menu-primary .dropdown-menu,
.dropdown-menu {
  font-size: 14px;
	line-height: 18px;
	> li {
		margin-bottom: 3px;
	}
	> li > a {
		white-space: normal;
		line-height: inherit;
    color: $primary;
    padding: .4rem .65rem;

    &:hover {
      color: $secondary;
    }
	}
}

.dropdown-menu,
.text-white .dropdown-menu {
  width: 200px;
  
  > li > a {
    white-space: normal;
    line-height: inherit;
    color: $body-color !important;
    font-size: 15px;
    line-height: 20px;
    padding: 5px 15px;
    white-space: normal;
    &:hover {
      background-color: transparent;
      color: $link-color;
    }
  }
  > li > .dropdown-menu {
    border-radius: 0;
    border: none;
    box-shadow: none;
    display: block;
    left: auto;
    margin: 0 0 10px 10px;
    padding: 0;
    position: relative;
    top: auto;
    width: auto;
  }

  > li:last-of-type > .dropdown-menu {
    margin-bottom: 0;
  }

  // Active State
  > .active > a, 
  > .active > a:hover, 
  > .active > a:focus {
    background-color: transparent;
    color: $link-color;
  }
}

/* Primary Menu
================================================== */
#menu-primary {
	margin-top: 10px;

 	br {
  	display: none;
  }
  > li > a {
    font-size: 13px;
    font-weight: $font-weight-bold;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  } 

  @include media-breakpoint-up(lg) {
  	margin-top: 0;

    > li > a {
    	position: relative;
    }

    > li > a:hover {
    	&::before {
    		opacity: 1;
    	}
    }
	}

  @include media-breakpoint-up(xl) {
    > li > a {
      padding-right: .55rem;
      padding-left: .55rem;
    }
  }
}


/* Current page highlighting 
================================================== */
#menu-primary {
  > li.current-menu-item,
  > li.current-menu-parent,
  > li.current-menu-ancestor,
  > li.current_page_parent {
  	
  	> a {
      color: $secondary;
    }

  }  
  > li.dropdown.open > a:hover {
    color: $secondary;
  }

  .dropdown-menu {
    > li.current-menu-item {
      > a {
        color: $secondary;
      }
    }
  }
}