/******************************************************************
Author: DD9
Stylesheet: Header & Navigation
******************************************************************/

/* Main Header and Nav: Bootstrap overrides
================================================== */
#site-header {
	.navbar {
		border: none;
		margin-bottom: 0;
	}
	.navbar-brand{
		padding-top: 5px;
		padding-bottom: 5px;
		width: 95px;
	}
}

/* Dropdown menus */
// Fix non-wrapping menu items
.navbar-light #menu-primary .dropdown-menu,
.navbar-dark #menu-primary .dropdown-menu,
.dropdown-menu {
  font-size: 14px;
	line-height: 18px;
	> li {
		margin-bottom: 3px;
	}
	> li > a {
		white-space: normal;
		line-height: inherit;
    color: $primary;
    padding: .4rem .65rem;

    &:hover {
      color: $secondary;
    }
	}
}

/* Primary Menu
================================================== */
#menu-primary {
	margin-top: 10px;

 	br {
  	display: none;
  }
  > li > a {
    font-size: 13px;
    font-weight: $font-weight-bold;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  } 

  @include media-breakpoint-up(lg) {
  	margin-top: 0;

    > li > a {
    	position: relative;

    	&::before {
    		background-color: rgba($white, .3);
    		content: "";
    		position: absolute;
    		top: -2px;
    		left: $navbar-nav-link-padding-x;
    		right: $navbar-nav-link-padding-x;
    		height: 2px;
    		opacity: 0;
    		@include transition(all .2s ease);
    	}
    }
    > li > a:hover {
    	&::before {
    		opacity: 1;
    	}
    }
	}

  @include media-breakpoint-up(xl) {
    > li > a {
      padding-right: .55rem;
      padding-left: .55rem;
    }
  }
}


/* Current page highlighting 
================================================== */
#menu-primary {
  > li.current-menu-item,
  > li.current-menu-parent,
  > li.current-menu-ancestor,
  > li.current_page_parent {
  	
  	> a::before {
      opacity: 1;
    }

  }  
  > li.dropdown.open > a:hover {
    color: $secondary;
  }

  .dropdown-menu {
    > li.current-menu-item {
      > a {
        color: $secondary;
      }
    }
  }
}