/******************************************************************
Author: DD9
Stylesheet: Posts
******************************************************************/


/* Blog Content
================================================== */
.byline,
.entry-meta {
  color: $gray-600;
  margin: 0;
  font-size: $font-size-sm;
  a {
    color: inherit;
  }
}

/* Entry Meta
================================================== */
.entry-meta {
  > li::after {
    content: "|";
    display: inline;
    margin: 0 5px;
  }
  > li:last-child::after {
    display: none;
  }
}


/* Excerpts & Content
================================================== */
.row-post-excerpt {
  border-bottom: 1px solid $hr-border-color;
  margin-bottom: ($paragraph-margin-bottom * 2);
  padding-bottom: ($paragraph-margin-bottom * 2);
}

.entry-excerpt {
  > *:last-child {
    margin-bottom: 0;
  }
}

.entry-content {
  margin-bottom: ($spacer * 3);

  > *:last-child {
    margin-bottom: 0;
  }
}

/* Featured Image
================================================== */
.entry-featured-img {
  margin-bottom: $paragraph-margin-bottom;
  text-align: center;
}

.entry-featured-img.bg-img {
  height: 180px;
  @include media-breakpoint-up(md) {
    height: 320px;
  }
  @include media-breakpoint-up(lg) {
    height: 360px;
  }
}

.excerpt-img {
  position: relative;
  margin-bottom: 20px;
  @include media-breakpoint-up(sm) {
    margin-bottom: 0;
  }
  
  img {
    width: 100%;
    height: auto;
  }
}

.excerpt-img.bg-img {
  height: 250px;
  margin-bottom: ($spacer * 2);

  @include media-breakpoint-up(md) {
    margin-bottom: 0;
  }
}

/* Entry Footer
================================================== */
.article-footer  {
  padding: 10px 0;
  border-top: 1px solid $hr-border-color;
  color: $gray-800;
  font-size: 12px;
  .commentnum {
    text-align: right;
    width: 30%;
    a {
      text-decoration: none;
      color: $gray-600;
    }
    a:hover {
      color: $gray-900;
    }
  }
  .tags {
    width: 70%;
  }
  .post-link {
    margin-top: -1px;
    padding-left: 10px;
    &:hover {
      text-decoration: none;
    }
  }
}

.excerpt-footer {
  border-top: none;
}

/* Pagination & Pager
================================================== */
.pagination .page-item.active .page-link:hover {
  color: #fff;
}

/* Pager (next/prev nav)
================================================== */
#single-post-nav .pager {
  margin: ($spacer * 2) 0;
  font-size: $font-size-sm;
}

.pager {
  padding-left: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  
  li {
    display: block;
    @include media-breakpoint-up(md) {
      display: inline;
    }

    > a,
    > span > a {
      display: inline-block;
      @extend .btn;
      @extend .btn-outline-primary;

      @include media-breakpoint-down(md) {
        display: block;
      }
    }
  }

  .next {
    > a,
    > span {
      @include media-breakpoint-up(md) {
        float: right;
      }
    }
  }

  .previous {
    margin-bottom: $paragraph-margin-bottom;
    @include media-breakpoint-up(md) {
      margin-bottom: 0;
    }
    > a,
    > span {
      @include media-breakpoint-up(md) {
        float: left;
      }
    }
  }
}