/******************************************************************
Author: DD9
Stylesheet: Posts
******************************************************************/


/* Blog Content
================================================== */
.byline,
.entry-meta {
  color: $gray-600;
  margin: 0;
  font-size: $font-size-sm;
  a {
    color: inherit;
  }
}

.entry-meta {
  margin: -15px 0 0;
}

.entry-content {
  margin-bottom: ($spacer * 3);

  > *:last-child {
    margin-bottom: 0;
  }
}


/* Featured Image
================================================== */
.entry-featured-img {
  margin-bottom: $paragraph-margin-bottom;
  height: 180px;
  @include media-breakpoint-up(md) {
    height: 320px;
  }
  @include media-breakpoint-up(lg) {
    height: 360px;
  }
}

/* Entry Footer
================================================== */
.article-footer  {
  padding: 10px 0;
  border-top: 1px solid $hr-border-color;
  color: $gray-800;
  font-size: 12px;
  .commentnum {
    text-align: right;
    width: 30%;
    a {
      text-decoration: none;
      color: $gray-600;
    }
    a:hover {
      color: $gray-900;
    }
  }
  .tags {
    width: 70%;
  }
  .post-link {
    margin-top: -1px;
    padding-left: 10px;
    &:hover {
      text-decoration: none;
    }
  }
}

/* Pagination & Pager
================================================== */
.pagination .page-item.active .page-link:hover {
  color: #fff;
}

/* Pager (next/prev nav)
================================================== */
#single-post-nav .pager {
  margin: ($spacer * 2) 0;
  font-size: $font-size-sm;
}

.pager {
  padding-left: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  
  li {
    display: inline;
    > a,
    > span > a {
      display: inline-block;
      @extend .btn;
      @extend .btn-outline-primary;

      @include media-breakpoint-down(md) {
        display: block;
      }
    }
  }

  .next {
    > a,
    > span {
      @include media-breakpoint-up(md) {
        float: right;
      }
    }
  }

  .previous {
    > a,
    > span {
      @include media-breakpoint-up(md) {
        float: left;
      }
    }
  }
}