/******************************************************************
Author: DD9
Stylesheet: Sidebars
******************************************************************/

#sidebar {
  .widget {
    margin-bottom: $paragraph-margin-bottom;
  }
}

.widgettitle {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid $hr-border-color;
}

.widget {
	ul {
    padding: 0;
    margin: 0;
		li {
      list-style: none;
		}
	}
  select {
    margin-bottom: 10px;
  }
}
