/******************************************************************
Author: DD9
Stylesheet: Typography
******************************************************************/

/* Headings
================================================== */
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
	margin: 0 0 $headings-margin-bottom;
	a {}
	@include media-breakpoint-down(sm) {
		> br {
			display: none;
		}
	}

	sup, sub {
		font-size: 30%
	}
}

h1, .h1 {
	@include media-breakpoint-up(xl) {
	}	
	
	@include media-breakpoint-up(xxl) {
	}
}

h2, .h2 {
}

h3, .h3 {}

h4, .h4 {}

h5, .h5 {}

.add-divider {
  border-bottom: 1px solid $hr-border-color;
  clear: both;
  padding-bottom: 1rem;
}

h1 + .divider-bar,
h2 + .divider-bar {
	margin-bottom: 2.6rem;
}
h3 + .divider-bar,
h4 + .divider-bar {
	margin-bottom: $headings-margin-bottom;
}

/* Body text
================================================== */
p {
  margin: 0 0 $paragraph-margin-bottom;
}

p:empty {
	display: none; 
}

cite {
  font-style: italic;
}

.lead {
	color: $primary;
	@include media-breakpoint-up(xl) {
    font-size: 2rem;
	}
}

.row-outer, 
.row-outer-lg {
	ul:not([class]), 
	ol:not([class]) {
	  margin-bottom: $paragraph-margin-bottom;
	  padding-left: 25px;
	  > *:last-child {
	    margin-bottom: 0;
	    padding-bottom: 0;
	  }
	  > li {
	    line-height: 1.3;
	    margin-bottom: 14px;
	  }
	}
}

.small {
	font-size: 1rem;
	line-height: normal;
}

/* Link Styles
================================================== */
a, a:visited {

	@include transition(all .2s ease);

	/* on hover */
	&:hover, &:focus {
		text-decoration: none;
    outline: 0 none;
	}

	/* on click */
	&:active {}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
	}
}

.post-edit-link{
	@extend .btn;
	@extend .btn-sm;
	@extend .btn-warning;
  position: fixed;
  right: 5px;
  bottom: 5px;
  z-index: 2000;
  padding: 3px 6px;
  font-size: 10px !important;
}

a.full-width {
  bottom: 0;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;
}


/* Blockquote
================================================== */
blockquote {
	color: $primary;
	font-weight: $font-weight-light;
	font-size: $font-size-lg;
	line-height: $line-height-lg;
	border-left: 2px solid;
	border-color: $primary;
	padding: 10px $spacer;
	margin-bottom: $paragraph-margin-bottom;

	footer, small, .small, cite {
		display: block;
		letter-spacing: 0.2em;
		font-size: 11px;
		font-weight: bold;
		line-height: 1.1;
		text-transform: uppercase;
		font-style: normal;
		margin-top:15px;
	}

	> *:last-child {
		margin-bottom: 0;
	}
}

blockquote.text-center {
	border: none;
}

blockquote.text-right {
	border-left: none;
	border-right: 2px solid;
}

.bg-primary, .bg-success, .bg-info, .bg-warning, .bg-danger {
	blockquote {
		border-color: $white;
	}
}