
/******************************************************************
Author: DD9
Stylesheet: WooCommerce
******************************************************************/
.col-content-shop,
.woocommerce-MyAccount-content {
	border-bottom: 4px solid $hr-border-color;
	margin-bottom: ($spacer * 2);
	padding-bottom: ($spacer * 2);
	@include media-breakpoint-up(lg) {
		border: none;
		padding-right: ($spacer * 3);
		padding-bottom: 0;
		margin-bottom: 0;
	}
}

body.woocommerce-page {

	.col-1,
	.col-2,
	.col2-set .col-1, 
	.col2-set .col-1,
	.col2-set .col-2, 
	.col2-set .col-2 {
		max-width: 100% !important;
		flex: unset !important;
		padding: 0;
	}

	//Resetting
	.qty.text {
	  display: inline;
	  width: 65px;
	  height: 36px;
	  border-radius: 0;
	  border: 1px solid $hr-border-color;
	  color: inherit;
	  font-size: 16px;
	  text-align: left;
	  padding: 4px 8px 4px 10px;
		width: 3.631em;
	}

	.product {
		//Resetting
		.label {
	    display: inline;
	    font-size: inherit;
	    color: $body-color;
	    text-align: left;
	    border-radius: 0;
	  }
	}

	// Hiding elements
	.woocommerce-breadcrumb,
	p:empty,
	.product_meta,
	form .form-row::after, 
	form .form-row::before {
		display: none !important;
	}
}



/* Buttons
-------------------------------- 
*/
// Shop Archive Buttons
.woocommerce ul.products li.product .button {
	@extend .btn;
	@extend .btn-primary;
}

// Product Single Buttons
.woocommerce #respond input#submit, 
.woocommerce a.button, 
.woocommerce button.button, 
.woocommerce input.button {
	@extend .btn;
	@extend .btn-primary;
}
.woocommerce #respond input#submit.alt, 
.woocommerce a.button.alt, 
.woocommerce button.button.alt, 
.woocommerce input.button.alt {
	@extend .btn;
	@extend .btn-primary;
}

//Cart Buttons
.woocommerce .cart .button, 
.woocommerce .cart input.button {
	@extend .btn;
	@extend .btn-primary;
}

.woocommerce .cart .coupon .button {
	@extend .btn-primary;
}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button,
.woocommerce #payment #place_order, .woocommerce-page #payment #place_order {
	@extend .btn-primary;
	margin-bottom: 0;
}

//Message Buttons 
.woocommerce .woocommerce-error .button, 
.woocommerce .woocommerce-info .button, 
.woocommerce .woocommerce-message .button {
	@extend .btn-primary;
}
.woocommerce .woocommerce-error .button{
	@extend .btn-primary;
}
.woocommerce .woocommerce-info .button{
	@extend .btn-primary;
}

.woocommerce #respond input#submit.disabled, 
.woocommerce #respond input#submit:disabled, 
.woocommerce #respond input#submit[disabled]:disabled, 
.woocommerce a.button.disabled, 
.woocommerce a.button:disabled, 
.woocommerce a.button[disabled]:disabled, 
.woocommerce button.button.disabled, 
.woocommerce button.button:disabled, 
.woocommerce button.button[disabled]:disabled, 
.woocommerce input.button.disabled, 
.woocommerce input.button:disabled, 
.woocommerce input.button[disabled]:disabled,
.woocommerce #respond input#submit.alt.disabled, 
.woocommerce #respond input#submit.alt.disabled:hover, 
.woocommerce #respond input#submit.alt:disabled, 
.woocommerce #respond input#submit.alt:disabled:hover, 
.woocommerce #respond input#submit.alt[disabled]:disabled, 
.woocommerce #respond input#submit.alt[disabled]:disabled:hover, 
.woocommerce a.button.alt.disabled, 
.woocommerce a.button.alt.disabled:hover, 
.woocommerce a.button.alt:disabled, 
.woocommerce a.button.alt:disabled:hover, 
.woocommerce a.button.alt[disabled]:disabled, 
.woocommerce a.button.alt[disabled]:disabled:hover, 
.woocommerce button.button.alt.disabled, 
.woocommerce button.button.alt.disabled:hover, 
.woocommerce button.button.alt:disabled, 
.woocommerce button.button.alt:disabled:hover, 
.woocommerce button.button.alt[disabled]:disabled, 
.woocommerce button.button.alt[disabled]:disabled:hover, 
.woocommerce input.button.alt.disabled, 
.woocommerce input.button.alt.disabled:hover, 
.woocommerce input.button.alt:disabled, 
.woocommerce input.button.alt:disabled:hover, 
.woocommerce input.button.alt[disabled]:disabled, 
.woocommerce input.button.alt[disabled]:disabled:hover {
	color: #fff;

  &:hover {
  	color: #fff;
  }
}


/* Search
-------------------------------- 
*/
.woocommerce-products-header__title.page-title {
	@extend .h2;
}

/* Shop Archive
-------------------------------- 
*/

.post-type-archive-product .woocommerce-products-header {
	display: none;
}
.woocommerce .woocommerce-result-count {
  font-size: $font-size-sm;
	line-height: $line-height-sm;
	width: 50%;
}
.woocommerce .woocommerce-ordering select {
	@extend .form-control-sm;
  height: auto;
}

.woocommerce ul.products li.product h3 {
  @include transition(all .2s ease);
  &:hover {
  	color: $blue-dark;
  }
}

.product-meta {
	font-size: $font-size-sm;
	margin-bottom: 5px;
}

.woocommerce .row-outer,
.page .row-outer {
	.price,
	p.price, 
	span.price {
  	color: $body-color !important;
  	font-size: 1.4rem !important;
  	font-weight: $font-weight-medium !important;
  	margin: 0 !important;
 }
}

.woocommerce .row-outer ul.products,
.woocommerce-page .row-outer ul.products {
	@include media-breakpoint-up(sm) {
		display: flex;
  	flex-wrap: wrap;
  	margin: 0 -15px;
	}

	li.product {
		margin: 0 0 20px !important;
		float: none !important;
		width: 100% !important;

		@include media-breakpoint-up(sm) {
			margin: 0 10px 20px !important;
			width: 46% !important;
		}

		@include media-breakpoint-up(xl) {
			width: 30.9% !important;
		}

		.card {
			height: 100%;
		}

		.card-body {
	    padding: 1.4rem 1.4rem 0 1.4rem;
	  }
	  .card-footer {
	    padding: 0 1.4rem 1.4rem;
	  }

		.ajax_add_to_cart {
			@extend .btn-sm;
			margin-top: 0;
		}
	}
}

.woocommerce a.added_to_cart {
  color: $primary;
  font-size: $font-size-sm;
  font-weight: $font-weight-bold;
  margin-left: 5px;
}

//Pagination
.woocommerce .row-outer nav.woocommerce-pagination {
  text-align: left;
}
.woocommerce nav.woocommerce-pagination ul li a:focus, 
.woocommerce nav.woocommerce-pagination ul li a:hover, 
.woocommerce nav.woocommerce-pagination ul li span.current {
  background: $gray-200;
  color: $blue-dark;
}


/* Product Single
-------------------------------- 
*/

.woocommerce div.product .product_title {
	@extend .h4;
}

// Images/Thumbnails
.woocommerce div.product div.images, 
.woocommerce-page div.product div.images {
  background-color: $gray-200;
  border-radius: 0;
  padding: 15px;
}

.woocommerce-tabs.wc-tabs-wrapper,
.related.products {
	border-top: 1px solid $hr-border-color;
	padding-top: ($spacer * 2);
}
.related.products {
	margin-bottom: 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
	display: none;
}

#tab-description h2,
.related.products h2 {
	@extend .h4;
}

.product-download-buttons {
	background-color: $gray-200;
	padding: $spacer;
	margin-bottom: $spacer;

	p {
		margin-bottom: 0.5rem;
	}
	
	.btn {
		background-color: $white;
		&:hover {
			background-color: $primary;
		}
	}

	> *:last-child {
		margin-bottom: 0;
	}
}


/* Form Elements
-------------------------------- 
*/ 
.woocommerce-page .row-outer {
	input[type=text],
	input[type=password],
	input[type=email],
	input[type=url],
	input[type=number],
	input[type=tel],
	textarea,
	.select2-container .select2-choice {
		@extend .form-control;
	}
	.input-checkbox {
		width: auto;
	}
	textarea {
		height: auto;
	}

	.form-inline {
		input {
			width: 1%;
		}
	}
}

.woocommerce-page form .form-row label.inline,
.woocommerce-page form .form-row label {
	display: block;
	width: 100%;
	input {
		@extend .form-control;
		width: auto;
		height: auto;
		display: inline;
	}
}

.woocommerce form .form-row label {
  line-height: inherit;
}


/* Tables
-------------------------------- 
*/ 

.woocommerce table.shop_table {
	border-radius: 0;
	border-collapse: collapse;
}

.woocommerce table th {
  background-color: $gray-200;
  color: $body-color;
  font-size: $font-size-sm;
  font-weight: normal;
  text-transform: uppercase;
}

.woocommerce-page .row-outer table th, 
.woocommerce-page .row-outer table td {
	vertical-align: middle;
	@include media-breakpoint-up(lg) {
		padding: .857em 1.387em;
	}
}

.woocommerce-page .row-outer table.variations {
	.label {
		background-color: $gray-200;
	  color: $body-color;
	  font-size: $font-size-sm;
	  font-weight: normal;
	  text-transform: uppercase;
		display: block;
		border-radius: 0;
		line-height: 3em;
	}
	th, tr {
		border-radius: 0;
		line-height: normal;
	}
}


/* Cart / Checkout
-------------------------------- 
*/ 

// The cart
.woocommerce table.shop_table {
  border-radius: 0;
  border-collapse: collapse;
}
table.cart td.actions .coupon {
  border-bottom: medium none;
  display: inline-block;
  float: left;
  margin-bottom: 0;
  padding-bottom: 0;
}

.woocommerce table.cart td.actions input,
.woocommerce table.cart td.actions .input-text, 
.woocommerce-page table.cart td.actions .input-text {
  display: inline-block;
  margin: 0;
  width: auto;
}

#add_payment_method .cart-collaterals .cart_totals, 
.woocommerce-cart .cart-collaterals .cart_totals,
.woocommerce-checkout .cart-collaterals .cart_totals {
	font-size: 16px;

	tr th {
  	width: 10%;
  }
  #shipping_method {
  	margin-bottom: $spacer;
  }
}

.woocommerce .row-outer ul#shipping_method li {
	line-height: 1.1;
}

.woocommerce-cart .wc-proceed-to-checkout a.checkout-button {
	float: right;
}

.cart_totals {
	h2 {
		@extend .h6;
	}
}

// Alternating Colors - Cart table
.woocommerce table.shop_table_responsive.cart tr:nth-child(2n), 
.woocommerce-page table.shop_table_responsive.cart tr:nth-child(2n) {
	@media (max-width: 769px) {
  	background-color: $gray-200;
  }
	td {
		@media (max-width: 769px) {
	  	background-color: $gray-200;
	  }
	}
}
.woocommerce table.shop_table_responsive.cart, 
.woocommerce-page table.shop_table_responsive.cart {
  tr {
  	@media (max-width: 769px) {
	  	margin-bottom: 15px;
	  	padding-bottom: 15px;
	  }
	}
	tr td {
	  @media (max-width: 769px) {
	  	border-color: transparent;
	  }
	}
}

.woocommerce table.shop_table_responsive.cart tr:last-child, 
.woocommerce-page table.shop_table_responsive.cart tr:last-child {
	@media (max-width: 769px) {
  	background-color: $white;
  	margin-bottom: 0;
	  padding-bottom: 0;
  }
	td {
		@media (max-width: 769px) {
	  	background-color: $white;
	  	border-top-color: $gray-300;
	  }
	}
}


// Cart Images
#add_payment_method table.cart .product-thumbnail, 
.woocommerce-cart table.cart .product-thumbnail, 
.woocommerce-checkout table.cart .product-thumbnail {
  min-width: 60px;
  padding: .857em .857em;
}
#add_payment_method table.cart img, 
.woocommerce-cart table.cart img, 
.woocommerce-checkout table.cart img {
  width: 80px;
}

// Calculated Shipping
.woocommerce table.shop_table_responsive, 
.woocommerce-page table.shop_table_responsive {
	tr.shipping td {
		text-align: left !important;
		
		&::before {
			float: none;
		}
	}
}

.woocommerce .cart-collaterals .cart_totals, 
.woocommerce-page .cart-collaterals .cart_totals {
	width: 100%;
  @include media-breakpoint-up(md) {
		width: 60%;
	}
}

// The checkout form
.checkout.woocommerce-checkout {
	h3 {
		@extend .h6;
	}
}
.woocommerce-input-wrapper {
	display: block;
	width: 100%;
}

#ship-to-different-address {
	.radio, .checkbox {
    display: inline;
    margin: 0;
	}
}

#customer_details {
	margin-bottom: $paragraph-margin-bottom;
  padding-bottom: 10.5px;
}

.woocommerce table.shop_table tfoot td {
  font-weight: $font-weight-normal;
}

.woocommerce form .form-row-first, 
.woocommerce form .form-row-last, 
.woocommerce-page form .form-row-first, 
.woocommerce-page form .form-row-last {
  width: 100%;

  @include media-breakpoint-up(md) {
		width: 50%;
	}

	.input-text {
		margin-right: 0 !important;
	}
}

#add_payment_method #payment,
.woocommerce-checkout #payment {
	background-color: $gray-200;
	padding: 0;
	div.payment_box {
		background-color: $white;

		&::before {
			border-color: transparent transparent $white;
		}
	}
}

.woocommerce-checkout #payment div.payment_box input.js-sv-wc-payment-gateway-credit-card-form-input[type="text"], 
.woocommerce-checkout #payment div.payment_box input.js-sv-wc-payment-gateway-echeck-form-input[type="text"], 
#add_payment_method input.js-sv-wc-payment-gateway-credit-card-form-input[type="text"], 
#add_payment_method input.js-sv-wc-payment-gateway-echeck-form-input[type="text"] {
	font-size: inherit;
}
.woocommerce-checkout #payment div.payment_box input.js-sv-wc-payment-gateway-credit-card-form-account-number, 
#add_payment_method input.js-sv-wc-payment-gateway-credit-card-form-account-number {
  background-size: 40px 25px;
}

// Select menus
.woocommerce form .form-row .select2-container {
  line-height: 39px !important;
  height: 39px !important;
}
.select2-container--default .select2-selection--single {
  height: 39px !important;
  line-height: 39px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 39px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 39px !important;
  line-height: 39px !important;
}

// Place Order, Terms & Conditions, GDPR/Privacy
#payment .form-row.place-order {
	display: block;
	flex: unset;
	font-weight: $font-weight-medium;

	#place_order {
		float: none;
	}

	.woocommerce-terms-and-conditions-wrapper {
		margin-bottom: 10px;
	}
	#marketing_info_field_field {
		margin-bottom: 20px;
		padding: 0;
	}
	.woocommerce-privacy-policy-text {
		> *:last-child {
			margin-bottom: 0;
		}
	}
}


/* Success
-------------------------------- 
*/ 
.woocommerce-thankyou-order-received {
	background-color: #f7f6f7;
  border-top: 3px solid #8fae1b;
  color: #515151;
  list-style: outside none none !important;
  margin: 0 0 2em !important;
  padding: 1em 2em !important;
  position: relative;
  width: auto;
  word-wrap: break-word;
}


/* Account / Login
-------------------------------- 
*/
.woocommerce-account .page {
	table,
	table th, table td {
		border: none;
	}
}

.woocommerce-account .woocommerce .addresses .title .edit {
  float: none;
  display: block;
  clear: both;
  margin-bottom: 24px;
}

.woocommerce .login,
.woocommerce .lost_reset_password {
	.button {
		@extend .btn-primary;
		margin-bottom: 10px;
	}
}

form.login {
	.lost_password {
		font-size: $font-size-sm;
		margin-bottom: 0;
	}
	> *:last-child {
		margin-bottom: 0;
	}
}

.woocommerce a.button.view {
	@extend .btn-primary;
	display: block;
}

.myaccount_address {
	margin-bottom:$paragraph-margin-bottom;
	border-bottom: 1px solid $hr-border-color;
  padding-bottom: 10.5px;
}

.woocommerce-account .addresses .title h3 {
	@extend .h6;
}

.woocommerce-MyAccount-content {
	h2 {
		@extend .h6;
	}
}

.woocommerce-MyAccount-navigation {
	> ul {
		@extend .list-unstyled;
	}
}


/* Sidebar
-------------------------------- 
*/

#sidebar-shop {
	.widget-title {
    padding-bottom: 0;
  }

  ul li.current-cat {
  	> a {
  		color: $blue-dark;
  	}
  }
}

.widget-shop {
	border-bottom: 1px solid $hr-border-color;
	margin-bottom: $spacer;
	padding-bottom: $spacer;
}

.widget-shop.widget_searchform {
	border-bottom: none;
}

// Search Widget
.search-all-products {
	font-size: $font-size-sm;
	line-height: $line-height-sm;
	margin-top: 10px;
}

// Cart Widget
.woocommerce ul.cart_list,
.woocommerce ul.product_list_widget,
.woocommerce .widget_shopping_cart .total, 
.woocommerce.widget_shopping_cart .total {
  font-size: $font-size-sm;
	line-height: $line-height-sm;
	> li {
		margin-bottom: 5px;
	}
	a {
		font-weight: 600 !important;
		margin-bottom: 5px;
	}
}

.woocommerce-page .widget_shopping_cart, 
.woocommerce.widget_shopping_cart {
	background-color: $gray-200;
	border: none;
	padding: 25px 20px;
	margin-bottom: ($spacer * 2);
	.widget_shopping_cart_content {
		> *:last-child {
			margin-bottom: 0;
		}
	}
	.total {
		background-color: $white;
		border: none;
	  font-size: 1rem;
	  padding: 5px 10px;
	  margin-top: 10px;
	  line-height: 1.2rem;
	}
}
.woocommerce .widget_shopping_cart .buttons a, 
.woocommerce.widget_shopping_cart .buttons a {
  @extend .btn-sm;
}

