/******************************************************************
Author: DD9
Stylesheet: WP Core Styles

This stylesheet contains CSS needed for WP Core
******************************************************************/

.alignnone {
  margin: 0;
}

.aligncenter {
  display: block;
  margin: 0 auto $paragraph-margin-bottom auto;
}

.alignright {
  float:right;
  margin: 0 0 $paragraph-margin-bottom 20px;
}

.alignleft {
  float: left;
  margin: 0 20px $paragraph-margin-bottom 0;
}

.wp-caption {
  max-width: 100%;
  background: transparent;
  img {
    max-width: 100%;
    margin-bottom: 0;
    width: 100%;
  }
  .wp-caption-text {
    color: $text-muted;
    font-size: 0.75em;
    line-height: 1.1;
    margin: 5px 0 0;
  }
} 

.wp-caption.alignleft {
  margin-right: 20px;
}

.wp-caption.alignright {
  margin-left: 20px;
  p.wp-caption-text {
    text-align: right;
  }
}

/* image gallery styles */
.gallery {
  dl {
    float: left;
    margin-top: 10px;
    text-align: center;
    width: 33%;
    img {
      border: 2px solid #cfcfcf;
    }
  }
}

/* Screen Reader Text */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}


@include media-breakpoint-down(sm) {
  img.alignright, .wp-caption.alignright, .alignright,
  img.alignleft, .wp-caption.alignleft, .alignleft,
  img.aligncenter, .wp-caption.aligncenter, .aligncenter {
    display: block;
    float: none;
    margin: 0 auto $paragraph-margin-bottom;
  }
}


/* Gutenberg
================================================== */

.wp-block-cover__inner-container {
  @extend .container;
}


.alignfull,
.alignwide {
  padding: 0 $grid-gutter-width;
  margin: ($spacer * 3) 0 ($spacer * 3) 50%;
  max-width: 100vw;
  width: 100vw;
  transform: translateX(-50%);
}

.alignwide {
  @include media-breakpoint-up(lg) {
    margin: ($spacer * 3) 0 ($spacer * 3) 50%;
    max-width: 80vw;
    width: 80vw;
    transform: translateX(-50%);
  }
}


.wp-block-image,
.wp-block-gallery,
.wp-block-cover,
.wp-block-media-text,
.wp-block-embed-youtube,
.wp-block-embed-vimeo {
  &.alignfull,
  &.alignwide {
    padding: 0;
  }
}


/* GB text colors */
.has-primary-color {
  color: $primary;
}
.has-secondary-color {
  color: $secondary;
}
.has-success-color {
  color: $success;
}
.has-info-color {
  color: $info;
}
.has-warning-color {
  color: $warning;
}
.has-danger-color {
  color: $danger;
}
.has-gray-700-color {
  color: $gray-700;
}
.has-white-color {
  color: $white;
}

/* GB background colors */
.has-primary-background-color {
  background-color: $primary;
}
.has-secondary-background-color {
  background-color: $secondary;
}
.has-success-background-color {
  background-color: $success;
}
.has-info-background-color {
  background-color: $info;
}
.has-warning-background-color {
  background-color: $warning;
}
.has-danger-background-color {
  background-color: $danger;
}
.has-gray-700-background-color {
  background-color: $gray-700;
}
.has-white-background-color {
  color: $white;
}


.wp-block-embed {
  .wp-block-embed__wrapper {
    margin: 0 auto;
    text-align: center;
  }

  .fb_iframe_widget,
  .twitter-tweet,
  .instagram-media {
    margin: 0 auto !important;
  }

}




